[user]
	name = kjwon15
	email = kjwonmail@gmail.com
[core]
	pager = less -FRX
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)%an <%ae>%Creset' --abbrev-commit --author-date-order
	lga = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)%an <%ae>%Creset' --abbrev-commit --author-date-order
	lgt = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)%an <%ae>%Creset' --abbrev-commit --author-date-order
	lgat = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)%an <%ae>%Creset' --abbrev-commit --author-date-order
	df = diff -b --color-words
	fix = commit --amend -C HEAD
	st = status -sb
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[diff]
	tool = vimdiff
	compactionHeuristic = true
	colorMoved = default
[merge]
	tool = vimdiff
	conflictstyle = diff3
[init]
	defaultBranch = main
[rerere]
	enabled = true
	autoupdate = false
