source ~/.vimrc
nnoremap _<cr> i<cr><esc>

nnoremap gR :action RenameElement<cr>
inoremap <C-o> <esc>:action OverrideMethods<cr>

nnoremap / /
vnoremap / /
cnoremap %s/ %s/
cnoremap \>s/ \>s/

set surround
